- content_for :css do
  = stylesheet_link_tag 'index'

.wrapper

  .main
    = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: " 作品名・著者・投稿内容", class: "search-input"
      = form.submit "検索", class: "search-btn"


    .contents-row
      - @tweets.each do |tweet|
        .content-post
          .content-image
            = image_tag tweet.image.url, class: "image"
          .content-info
            .content-title
              【作品名】
              %br
              = tweet.title
            .content-author
              【著者】
              %br
              = tweet.author
            .content-text
              = tweet.text
            .user-name
              %a{:href => "/users/#{tweet.user.id}"}
                %span 投稿者
                = tweet.user.nickname
            .more
              %ul.more_list
                %li
                = link_to '詳細', tweet_path(tweet.id), method: :get, class: 'detail'
                - if user_signed_in? && current_user.id == tweet.user_id
                  %li
                    = link_to '編集', edit_tweet_path(tweet.id), method: :get, class: 'edit'
                  %li
                    = link_to '削除', tweet_path(tweet.id), method: :delete, class: 'delete'
        