- content_for :css do
  = stylesheet_link_tag 'new'

.contents-row
  .container
    = form_with(model: @tweet, local: true) do |form|
      %h3 投稿する
      = form.file_field :image, placeholder: "Image"
      = form.text_field :title, placeholder: "タイトル"
      = form.text_field :author, placeholder: "著者"
      = form.text_area :text, placeholder: "内容・感想", rows: "5"
      = form.submit "SEND"