!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Welibrary
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = yield :css
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__bar-row
        .top-items
          .top-items__title
            =link_to root_path, class:"toppage" do
              welibrary
          .top-items__menu
            - if user_signed_in?
              .top-items__menu-signIn
                .nickname
                  = "#{current_user.nickname}さん"
              .user__info
                = link_to "マイページ","/users/#{current_user.id}", class: 'mypage'
                = link_to "ログアウト", destroy_user_session_path, class: 'logout', method: :delete
                = link_to "投稿する", new_tweet_path, class: "post"  
            - else
              .grid-6
                = link_to "ログイン", new_user_session_path, class: "login"
                = link_to "新規登録", new_user_registration_path, class: "new-user"

    = yield
    .footer
      %p.cpcyright
        Copyright welibrary 2020.